/***** BASE STYLES *****/

body {
	font-family: "lato", sans-serif;
}

#about {
	height: 600px;
}

#work {
	height: 700px;
}


/***** GRID *****/

.full-width {
	width: 1200px;
	margin: 0 auto;
}

.half-width {
	width: 600px;
	float: left;
}


/***** HEADER *****/

header {
	height: 680px;
	background: url("../img/background.jpg");
	background-size: cover;
}

header h1 {
	padding: 20px 20px;
	font-family: "abril fatface", cursive;
	font-size:50px;
	color: #212121;
}

nav {
	float: right;
	padding: 50px 10px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	color: #212121;
	padding-right: 60px;
}


/***** WORK *****/

#work {
	text-align: center;
}

#work .full-width {
	padding: 100px 0;
}

#work p {
	font-family: "lato", sans-serif;
	font-size: 22px;
}

#work h2 {
	font-family: "abril fatface", cursive;
	font-size:50px;
	color: #212121;
}

#work ul {
	float: left;
}

#work ul li {
	display: inline-block;
	padding: 20px 40px;
}



/***** ABOUT and CONTACT *****/

#about {
	background-color: #212121;
}

#about .full-width {
	padding: 80px 80px;
}

#about h2 {
	font-family: "abril fatface", cursive;
	font-size: 56px;
	line-height: 10px;
	color: #EDD5D5;
	padding-left: 80px;
}

#about span {
	font-family: "abril fatface", cursive;
	font-size: 80px;
	color: #7f7f7f;
}

#about p {
	font-family: "lato", sans-serif;
	font-size: 18px;
	color: #7f7f7f;
	line-height:40px;
	padding-right: 50px;
}



#connect ul {
	float: left;
	list-style: none;
}

#connect ul li {
	display: inline-block;
	padding: 20px;
}

#connect img {
	padding: 10px 20px;
}

#connect h2 {
	font-family: "abril fatface", cursive;
	font-size: 56px;
	color: #EDD5D5;
	text-align: right;
	padding-top: 150px;
	padding-right: 155px;
}


/***** FOOTER *****/

footer {
	background-color: #EDD5D5;
	padding: 5px;
}

#footer p {
	text-align: center;
	font-size: 14px;
}

